<%= form_with(model: tipo_professor) do |form| %>
  <% if tipo_professor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_professor.errors.count, "Erro") %> </h2>

      <ul>
        <% tipo_professor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <%= form.label "Descrição", style: "display: block", class: "form-label" %>
        <%= form.text_field :descricao,  id: "Descrição", class: "form-control col-sm-10" %>
      </div>
    </div>


    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", tipo_professors_path, class: "btn btn-dark mt-3" %>
  </div>
<% end %>
