<br/>

<div class="container">
  <h2>Edit Tipo de Professor</h2>
</div>

<%= render "form", tipo_professor: @tipo_professor %>



  <%# <%= link_to "Show this tipo professor", @tipo_professor %>
  <%# <%= link_to "Back to tipo professors", tipo_professors_path %>
