<p style="color: green"><%= notice %></p>

<h1>Tipo Professor</h1>

<%= link_to "Novo", new_tipo_professor_path, class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @tipo_professors.each do |tipo_professor| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= tipo_professor.descricao %></td>
          <td class="col-sm-1 align-middle" ><%= link_to "Editar", edit_tipo_professor_path(tipo_professor), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
