<br/>

<div class="container">
  <h2>Tipo de Professor</h2>
</div>

<%= render "form", tipo_professor: @tipo_professor %>

<br>

<!-- <div>
  <%= link_to "Back to tipo professors", tipo_professors_path %>
</div> -->
