<p style="color: green"><%= notice %></p>

<%= render @tipo_professor %>

<div>
  <%= link_to "Edit this tipo professor", edit_tipo_professor_path(@tipo_professor) %> |
  <%= link_to "Back to tipo professors", tipo_professors_path %>

  <%= button_to "Destroy this tipo professor", @tipo_professor, method: :delete %>
</div>
