<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">

  <div>
    <%= f.label :projeto_id, style: "display: block" %>
    <%= f.text_field :projeto_id %>
  </div>

  <div>
    <%= f.label :aluno_id, style: "display: block" %>
    <%= f.text_field :aluno_id %>
  </div>

  <div>
    <%= f.label :inicio, style: "display: block" %>
    <%= f.date_field :inicio %>
  </div>

  <div>
    <%= f.label :fim, style: "display: block" %>
    <%= f.date_field :fim %>
  </div>

  <div>
    <%= f.label :plano_trabalho, style: "display: block" %>
    <%= f.text_field :plano_trabalho %>
  </div>

  <div>
    <%= f.label :tipo_bolsa_id, style: "display: block" %>
    <%= f.text_field :tipo_bolsa_id %>
  </div>

  <button type="button" data-action="nested-form#remove">Remove task</button>

  <%= f.hidden_field :_destroy %>
</div>
