<div id="<%= dom_id projeto_aluno %>">
  <p>
    <strong>Projeto:</strong>
    <%= projeto_aluno.projeto_id %>
  </p>

  <p>
    <strong>Aluno:</strong>
    <%= projeto_aluno.aluno_id %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= projeto_aluno.inicio %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= projeto_aluno.fim %>
  </p>

  <p>
    <strong>Plano trabalho:</strong>
    <%= projeto_aluno.plano_trabalho %>
  </p>

  <p>
    <strong>Tipo bolsa:</strong>
    <%= projeto_aluno.tipo_bolsa_id %>
  </p>

</div>
