<% content_for :title, "Editing projeto aluno" %>

<h1>Editing projeto aluno</h1>

<%= render "form", projeto_aluno: @projeto_aluno %>

<br>

<div>
  <%= link_to "Show this projeto aluno", @projeto_aluno %> |
  <%= link_to "Back to projeto alunos", projeto_alunos_path %>
</div>
