<p style="color: green"><%= notice %></p>

<% content_for :title, "Projeto alunos" %>

<h1>Projeto alunos</h1>

<div id="projeto_alunos">
  <% @projeto_alunos.each do |projeto_aluno| %>
    <%= render projeto_aluno %>
    <p>
      <%= link_to "Show this projeto aluno", projeto_aluno %>
    </p>
  <% end %>
</div>

<%= link_to "New projeto aluno", new_projeto_aluno_path %>
