<% content_for :title, "New projeto aluno" %>

<h1>New projeto aluno</h1>

<%= render "form", projeto_aluno: @projeto_aluno %>

<br>

<div>
  <%= link_to "Back to projeto alunos", projeto_alunos_path %>
</div>
