<p style="color: green"><%= notice %></p>

<%= render @projeto_aluno %>

<div>
  <%= link_to "Edit this projeto aluno", edit_projeto_aluno_path(@projeto_aluno) %> |
  <%= link_to "Back to projeto alunos", projeto_alunos_path %>

  <%= button_to "Destroy this projeto aluno", @projeto_aluno, method: :delete %>
</div>
