<%= form_with model: projeto do |form| %>
  <% if projeto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
        <% projeto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <%= form.label :titulo, style: "display: block" , class: "form-label"%>
      <%= form.text_field :titulo, class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :inicio, style: "display: block", class: "form-label"%>
      <%= form.date_field :inicio, class: "form-control col-sm-10" %>
    </div>
    <div class="col-2">
      <%= form.label :fim, style: "display: block", class: "form-label"%>
      <%= form.date_field :fim, class: "form-control col-sm-10" %>
    </div>
    <div class="col-8">
      <%= form.label :area_conhecimento, style: "display: block", class: "form-label"%>
      <%= form.collection_select :area_conhecimento_id, AreaConhecimento.order(:descricao), :id, :descricao,{:include_blank => ""} , {class: "form-select"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= form.label :palavra_chave, style: "display: block", class: "form-label"%>
      <%= form.text_field :palavra_chave, class: "form-control col-sm-10" %>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-body">
      <div class="card-header">Aluno</div>
      <div data-controller="nested-form" data-nested-form-wrapper-selector-value='.nested-form-wrapper'>
          <template data-nested-form-target="template">
            <%= form.fields_for :projeto_alunos, ProjetoAluno.new, child_index: 'NEW_RECORD' do |aluno| %>
              <%= render "projetos/projeto_alunos_form", f: aluno %>
            <% end %>
          </template>

          <%= form.fields_for :projeto_alunos do |aluno| %>
            <%= render "projetos/projeto_alunos_form", f: aluno %>
          <% end %>

          <div data-nested-form-target="target"></div>
          <button type="button" data-action="nested-form#add" class="btn btn-dark btn-sm">Add Aluno</button>
      </div>
        </div>
      </div>

  <br/>

  <div class="card">
    <div class="card-body">
      <div class="card-header">Professor</div>
      <div data-controller="nested-form" data-nested-form-wrapper-selector-value='.nested-form-wrapper'>
      <template data-nested-form-target="template">
        <%= form.fields_for :projeto_professors, ProjetoProfessor.new, child_index: 'NEW_RECORD' do |professor| %>
          <%= render "projetos/projeto_professors_form", f: professor%>
        <% end %>
      </template>

      <%= form.fields_for :projeto_professors do |professor| %>
        <%= render "projetos/projeto_professors_form", f: professor%>
      <% end %>

      <div data-nested-form-target="target"></div>
      <button type="button" data-action="nested-form#add" class="btn btn-dark btn-sm">Add Prof.</button>
      </div>
    </div>
  </div>

<br/>
  <div>
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
