<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <div class="form-label">Professro</div>
          <%= f.collection_select :professor_id, Professor.order(:nome), :id, :nome,{:include_blank => ""} , {class: "form-select"} %>
        </div>
        <div class=col-2>
          <div class="form-label">Data Inicio</div>
          <%= f.date_field :inicio, class: "form-control col-sm-10" %>
        </div>
        <div class=col-2>
          <div class="form-label">Data Fim</div>
          <%= f.date_field :fim, class: "form-control col-sm-10" %>
        </div>
      </div>
      <div class="row">
      <div class="col-2">
        <div class="form-label"></div>
        <button type="button" data-action="nested-form#remove" class="btn btn-dark btn-sm">Remove</button>
      </div>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>
</div>
</div>
