<div id="<%= dom_id projeto %>">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <strong>Titulo:</strong>&nbsp;<%= projeto.titulo %></br>
        <strong>Inicio:</strong>&nbsp;<%= projeto.inicio %>&nbsp;&nbsp;&nbsp;
        <strong>Fim:</strong><%= projeto.fim %></br>
        <strong>Palavra chave:</strong>&nbsp;<%= projeto.palavra_chave %></br>
        <strong>Area conhecimento:</strong>&nbsp;<%= projeto.area_conhecimento.descricao %>
        </br></br>

        <div class="card">
          <div class="card-header">Aluno</div>
            <div class="card-body">
              <% projeto.projeto_alunos.each do |projeto_aluno| %>
                <strong>Nome:</strong>&nbsp;<%= projeto_aluno.aluno.nome %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Inicio:</strong>&nbsp;<%= projeto_aluno.inicio %>&nbsp;&nbsp;&nbsp;
                <strong>Fim:</strong>&nbsp;<%= projeto_aluno.fim %>
              <% end %>
            </div>
        </div>
        </br>
        <div class="card">
          <div class="card-header">Orientador</div>
            <div class="card-body">
              <% projeto.projeto_professors.each do |projeto_professor| %>
                <strong>Nome:</strong>&nbsp;<%= projeto_professor.professor.nome %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Inicio:</strong>&nbsp;<%= projeto_professor.inicio %>&nbsp;&nbsp;&nbsp;
                <strong>Fim:</strong>&nbsp;<%= projeto_professor.fim %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
