<p style="color: green"><%= notice %></p>

<h1>Projetos</h1>

<%= link_to "Novo", new_projeto_path, class: "btn btn-dark mt-3" %>

<p/>

<div class="card">
  <div class="card-header">Consulta</div>
  <div class="card-body">
    Aluno:
  </div>

</div>
