<p style="color: green"><%= notice %></p>

<h4>Projeto</h4>
</br>

<div>
  <%= link_to "Edit this projeto", edit_projeto_path(@projeto) %> |
  <%= link_to "Back to projetos", projetos_path %>

  <%= button_to "Destroy this projeto", @projeto, method: :delete %>
</div>


<%= render @projeto %>
