<div id="<%= dom_id aluno %>">
  <p>
    <strong>Matricula:</strong>
    <%= aluno.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= aluno.cpf %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= aluno.curso_id %>
  </p>

  <p>
    <strong>Cota:</strong>
    <%= aluno.cota_id %>
  </p>

</div>
