<div class="rails-nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
<div class="row">
  <div class="col-2">
    <div class="form-label">Documento</div>
    <%= f.collection_select :tipo_documento_id, TipoDocumento.order(:nome), :id, :nome, {:include_blank => ""} , {class: "form-select"} %>
  </div>
  <div class="col-8">
    <div class="form-label">Arquivo</div>
    <%= f.file_field :documento,  class: "form-control" %>
  </div>
  <div class="col-2">
    <div class="form-label"></div>
    <button type="button" data-action="rails-nested-form#remove" class="btn btn-dark mt-4">Remove</button>
  </div>

  <%= f.hidden_field :_destroy %>

</div>
</div>
