<%= form_with model: aluno, data: { controller: 'rails-nested-form', rails_nested_form_wrapper_selector_value: '.rails-nested-form-wrapper' } do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2">
      <%= form.label :matricula, style: "display: block", class: "form-label" %>
      <%= form.text_field :matricula, class: "form-control col-sm-10" %>
    </div>
    <div class="col-8">
      <%= form.label :nome, style: "display: block" , class: "form-label" %>
      <%= form.text_field :nome, class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= form.label :curso_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select :curso_id, Curso.all.order(:nome), :id, :nome, {:include_blank => ""}, {class: "form-select"} %>
    </div>
    <div class="col-2">
      <%= form.label :cota_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select :cota_id, Cota.all, :id, :nome, {:include_blank => ""}, {class: "form-select"} %>
    </div>
    <div class="col-2">
      <%= form.label :cpf, style: "display: block", class: "form-label" %>
      <%= form.text_field :cpf, class: "form-control col-sm-10" %>
    </div>
  </div>

  </br>

  <div class="card">
    <div class="card-body">
      <div class="card-header">Documentos</div>
      <div class="card-body">
        <template data-rails-nested-form-target="template">
        <%= form.fields_for :documento_alunos, DocumentoAluno.new, child_index: 'NEW_RECORD' do |doc| %>
          <%= render "doc_form", f: doc %>
        <% end %>
        </template>

        <%= form.fields_for :documento_alunos do |doc| %>
          <%= render "doc_form", f: doc %>
        <% end %>

        <div data-rails-nested-form-target="target"></div>
        <button type="button" data-action="rails-nested-form#add" class="btn btn-dark mt-3">Add Doc.</button>

      </div>
    </div>
  </div>



  <div>
    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", alunos_path, class: "btn btn-dark mt-3" %>
  </div>
<% end %>
