<p style="color: green"><%= notice %></p>

<h1>Alunos</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Consultar
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <%= form_with url: alunos_path, method: :get do %>
          <%= label_tag :nome, 'Nome:' , {class: "form-label"} %>
          <%= text_field_tag :nome ,{}, {class: "form-control col-sm-10"} %>
          <%= submit_tag 'Pesquisar', {class: "btn btn-dark mt-3"} %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to "Novo", new_aluno_path, class: "btn btn-dark mt-3" %>

<br/><br/>

<form>
      <table class="table table-striped table-bordered table-hover mt-4">
        <tbody>
          <% if !@alunos.nil? %>
            <%= paginate @alunos, theme: 'bootstrap-5'%>
            <% @alunos.each do |aluno| %>
              <tr class="align-middle">
                <td class="col-lg-4" ><%= link_to aluno.nome, aluno_path(aluno) %></td>
                <td class="col-sm-1" ><%= link_to "Editar", edit_aluno_path(aluno), class: "btn btn-dark btn-sm" %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
</form>
