<p style="color: green"><%= notice %></p>

<h4>Dados do Aluno</h4>
</br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <strong>Matricula:</strong>
      <%= @aluno.matricula %>
      &nbsp;&nbsp;
      <strong>Nome:</strong>
      <%= @aluno.nome %>
      &nbsp;&nbsp;
      <strong>Cota:</strong>
      <%= @aluno.cota.nome %>
      </br>
      <strong>Curso:</strong>
      <%= @aluno.curso.nome %>

      <br/><br/>

        <% @aluno.projeto_alunos.each do |projeto_aluno| %>
          <div class="card">
            <div class="card-header">Projeto</div>
              <div class="card-body">

                <strong>Titulo:</strong>&nbsp;<%= projeto_aluno.projeto.titulo %> </br>
                <strong>Inicio:</strong>&nbsp;<%= projeto_aluno.projeto.inicio %>&nbsp;&nbsp;&nbsp;
                <strong>Fim:</strong>&nbsp;<%= projeto_aluno.projeto.fim %>

                <div class="card">
                  <div class="card-header">Orientador</div>
                  <div class="card-body">
                    <% projeto_aluno.projeto.projeto_professors.each do |projeto_professor| %>
                      <strong>Orientador:</strong>&nbsp;<%= projeto_professor.professor.nome %>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

</br></br></br></br>

<div>
  <%= link_to "Edit this aluno", edit_aluno_path(@aluno) %> |
  <%= link_to "Back to alunos", alunos_path %>

  <%= button_to "Destroy this aluno", @aluno, method: :delete %>
</div>
