<div id="<%= dom_id documento_aluno %>">
  <p>
    <strong>Aluno:</strong>
    <%= documento_aluno.aluno_id %>
  </p>

  <p>
    <strong>Tipo documento:</strong>
    <%= documento_aluno.tipo_documento_id %>
  </p>

  <p>
    <strong>Documento:</strong>
    <%= documento_aluno.documento %>
  </p>

</div>
