<%= form_with(model: documento_aluno) do |form| %>
  <% if documento_aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(documento_aluno.errors.count, "error") %> prohibited this documento_aluno from being saved:</h2>

      <ul>
        <% documento_aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :aluno_id, style: "display: block" %>
    <%= form.text_field :aluno_id %>
  </div>

  <div>
    <%= form.label :tipo_documento_id, style: "display: block" %>
    <%= form.text_field :tipo_documento_id %>
  </div>

  <div>
    <%= form.label :documento, style: "display: block" %>
    <%= form.text_field :documento %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
