<% content_for :title, "Editing documento aluno" %>

<h1>Editing documento aluno</h1>

<%= render "form", documento_aluno: @documento_aluno %>

<br>

<div>
  <%= link_to "Show this documento aluno", @documento_aluno %> |
  <%= link_to "Back to documento alunos", documento_alunos_path %>
</div>
