<p style="color: green"><%= notice %></p>

<% content_for :title, "Documento alunos" %>

<h1>Documento alunos</h1>

<div id="documento_alunos">
  <% @documento_alunos.each do |documento_aluno| %>
    <%= render documento_aluno %>
    <p>
      <%= link_to "Show this documento aluno", documento_aluno %>
    </p>
  <% end %>
</div>

<%= link_to "New documento aluno", new_documento_aluno_path %>
