<% content_for :title, "New documento aluno" %>

<h1>New documento aluno</h1>

<%= render "form", documento_aluno: @documento_aluno %>

<br>

<div>
  <%= link_to "Back to documento alunos", documento_alunos_path %>
</div>
