<p style="color: green"><%= notice %></p>

<%= render @documento_aluno %>

<div>
  <%= link_to "Edit this documento aluno", edit_documento_aluno_path(@documento_aluno) %> |
  <%= link_to "Back to documento alunos", documento_alunos_path %>

  <%= button_to "Destroy this documento aluno", @documento_aluno, method: :delete %>
</div>
