<div id="<%= dom_id curso %>">
  <p>
    <strong>Nome:</strong>
    <%= curso.nome %>
  </p>

  <p>
    <strong>Centro:</strong>
    <%= curso.centro_id %>
  </p>

  <p>
    <strong>Instituicao:</strong>
    <%= curso.instituicao_id %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= curso.sigla %>
  </p>

</div>
