<%= form_with(model: curso) do |form| %>
  <% if curso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(curso.errors.count, "Error") %> </h2>

      <ul>
        <% curso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-8">
      <%= form.label :nome, style: "display: block", class: "form-label" %>
      <%= form.text_field :nome , class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :sigla, style: "display: block", class: "form-label" %>
      <%= form.text_field :sigla , class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= form.label :instituicao_id, style: "display: block" , class: "form-label" %>
      <%= form.collection_select :instituicao_id, Instituicao.all, :id, :nome, {:include_blank => "" }, {class: "form-select"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :centro_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select :centro_id, Centro.all, :id, :sigla, {:include_blank => "" }, {class: "form-select"} %>
    </div>
  </div>

  <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
  <%= link_to "Voltar", cursos_path, class: "btn btn-dark mt-3" %>
<% end %>
