<p style="color: green"><%= notice %></p>

<h1>Cursos</h1>

<%= link_to "Novo", new_curso_path, class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @cursos.each do |curso| %>
        <tr class="align-middle">
          <td class="col-lg-4" ><%= curso.nome %></td>
          <td class="col-sm-1" ><%= curso.centro.sigla %></td>
          <td class="col-sm-1" ><%= link_to "Editar", edit_curso_path(curso), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
