<%= form_with(model: tipo_bolsa) do |form| %>
  <% if tipo_bolsa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_bolsa.errors.count, "Erro(s)") %> </h2>

      <ul>
        <% tipo_bolsa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <%= form.label :nome, style: "display: block", class: "form-label" %>
        <%= form.text_field :nome , class: "form-control col-sm-10" %>
      </div>
    </div>


    <div class="row">
      <div class="col-5">
        <%= form.label :valor, style: "display: block" , class: "form-label" %>
        <%= form.text_field :valor , class: "form-control col-sm-10", id: "currency"  %>
      </div>
    </div>


    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", tipo_bolsas_path, class: "btn btn-dark mt-3" %>

  </div>
<% end %>
