<p style="color: green"><%= notice %></p>

<h1>Tipo Bolsa</h1>

<%= link_to "Novo", new_tipo_bolsa_path, class: "btn btn-dark mt-3" %>
<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @tipo_bolsas.each do |tipo_bolsa| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= tipo_bolsa.nome %></td>
          <td class="col-lg-4 align-center" ><%= number_to_currency(tipo_bolsa.valor, unit: "R$ ", separator: ",", delimiter: ".") %></td>
          <td class="col-sm-1 align-center" ><%= link_to "Editar", edit_tipo_bolsa_path(tipo_bolsa), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
