<p style="color: green"><%= notice %></p>

<%= render @tipo_bolsa %>

<div>
  <%= link_to "Edit this tipo bolsa", edit_tipo_bolsa_path(@tipo_bolsa) %> |
  <%= link_to "Back to tipo bolsas", tipo_bolsas_path %>

  <%= button_to "Destroy this tipo bolsa", @tipo_bolsa, method: :delete %>
</div>
