<%= form_with(model: cota) do |form| %>
  <% if cota.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cota.errors.count, "Erro") %></h2>

      <ul>
        <% cota.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-5">
        <%= form.label :nome, style: "display: block", class: "form-label" %>
        <%= form.text_field :nome, class: "form-control col-sm-10" %>
      </div>
    </div>

    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", cotas_path, class: "btn btn-dark mt-3" %>

<% end %>
