<p style="color: green"><%= notice %></p>

<h1>Cotas</h1>

<%= link_to "Novo", new_cota_path , class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @cotas.each do |cota| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= cota.nome %></td>
          <td class="col-sm-1 align-middle" ><%= link_to "Editar", edit_cota_path(cota), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
