<p style="color: green"><%= notice %></p>

<%= render @cota %>

<div>
  <%= link_to "Edit this cotum", edit_cota_path(@cota) %> |
  <%= link_to "Back to cota", cotas_path %>

  <%= button_to "Destroy this cotum", @cota, method: :delete %>
</div>
