<%= form_with(model: professor) do |form| %>

  <% if professor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
        <% professor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2">
      <%= form.label :matricula, style: "display: block", class: "form-label" %>
      <%= form.text_field :matricula, class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= form.label :nome, style: "display: block", class: "form-label" %>
      <%= form.text_field :nome , class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :cpf, style: "display: block" , class: "form-label" %>
      <%= form.text_field :cpf, class: "form-control col-sm-10" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :tipo_professor_id, style: "display: block", class: "form-label" %>
      <%= form.collection_select :tipo_professor_id, TipoProfessor.all, :id, :descricao, {:include_blank => ""}, {class: "form-select"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= form.label :laboratorio_id, style: "display: block" , class: "form-label"%>
      <%= form.collection_select :laboratorio_id, Laboratorio.order(:sigla).all, :id, :sigla, {:include_blank => "" }, {class: "form-select"} %>
    </div>
  </div>

  <div>
    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", professors_path, class: "btn btn-dark mt-3" %>
  </div>

<% end %>
