<div id="<%= dom_id professor %>">

  <h4>Dados do Professor</h4>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
        <strong>Matricula:</strong>&nbsp;<%= professor.matricula %>&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Nome:</strong>&nbsp;<%= professor.nome %>
        </p>
        <p>
        <strong>Cpf:</strong>&nbsp;<%= professor.cpf %>&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Tipo professor:</strong>&nbsp;<%= professor.tipo_professor.descricao %>
        </p>
        <strong>Laboratorio:</strong>&nbsp;<%= professor.laboratorio.nome %>

        <br/><br/>

        <% professor.projeto_professors.each do |projeto| %>
          <div class="card">
            <div class="card-header">Projeto</div>
            <div class="card-body">
              <strong>Titulo:</strong>&nbsp;<%= projeto.projeto.titulo %><br/>
              <strong>Inicio:</strong>&nbsp;<%= projeto.inicio %>&nbsp;&nbsp;&nbsp;&nbsp;
              <strong>Fim:</strong>&nbsp;<%= projeto.fim %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>
