<p style="color: green"><%= notice %></p>

<h1>Professor</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Consultar
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        <%= form_with url: professors_path, method: :get do %>
          <%= label_tag :nome, 'Nome:' , {class: "form-label"} %>
          <%= text_field_tag :nome ,{}, {class: "form-control col-sm-10"} %>
          <%= submit_tag 'Pesquisar', {class: "btn btn-dark mt-3"} %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to "Novo", new_professor_path, class: "btn btn-dark mt-3" %>

<br/><br/>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% if !@professors.nil? %>
        <%= paginate @professors, theme: 'bootstrap-5'%>
        <% @professors.each do |professor| %>
          <tr class="align-middle">
            <td class="col-lg-4" ><%= link_to professor.nome, professor_path(professor) %></td>
            <td class="col-sm-1" ><%= link_to "Editar", edit_professor_path(professor), class: "btn btn-dark btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</form>
