<p style="color: green"><%= notice %></p>

<%= render @professor %>

<div>
  <%= link_to "Editar", edit_professor_path(@professor), class: "btn btn-dark mt-3" %>
  <%= link_to "Voltar", professors_path, class: "btn btn-dark mt-3" %>
</div>
