<%= form_with(model: area_conhecimento) do |form| %>
  <% if area_conhecimento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(area_conhecimento.errors.count, "error") %> prohibited this area_conhecimento from being saved:</h2>

      <ul>
        <% area_conhecimento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
