<% content_for :title, "Editing area conhecimento" %>

<h1>Editing area conhecimento</h1>

<%= render "form", area_conhecimento: @area_conhecimento %>

<br>

<div>
  <%= link_to "Show this area conhecimento", @area_conhecimento %> |
  <%= link_to "Back to area conhecimentos", area_conhecimentos_path %>
</div>
