<p style="color: green"><%= notice %></p>

<% content_for :title, "Area conhecimentos" %>

<h1>Area conhecimentos</h1>

<div id="area_conhecimentos">
  <% @area_conhecimentos.each do |area_conhecimento| %>
    <%= render area_conhecimento %>
    <p>
      <%= link_to "Show this area conhecimento", area_conhecimento %>
    </p>
  <% end %>
</div>

<%= link_to "New area conhecimento", new_area_conhecimento_path %>
