<% content_for :title, "New area conhecimento" %>

<h1>New area conhecimento</h1>

<%= render "form", area_conhecimento: @area_conhecimento %>

<br>

<div>
  <%= link_to "Back to area conhecimentos", area_conhecimentos_path %>
</div>
