<p style="color: green"><%= notice %></p>

<%= render @area_conhecimento %>

<div>
  <%= link_to "Edit this area conhecimento", edit_area_conhecimento_path(@area_conhecimento) %> |
  <%= link_to "Back to area conhecimentos", area_conhecimentos_path %>

  <%= button_to "Destroy this area conhecimento", @area_conhecimento, method: :delete %>
</div>
