<%= form_with(model: tipo_documento) do |form| %>
  <% if tipo_documento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_documento.errors.count, "error") %> prohibited this tipo_documento from being saved:</h2>

      <ul>
        <% tipo_documento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
