<% content_for :title, "Editing tipo documento" %>

<h1>Editing tipo documento</h1>

<%= render "form", tipo_documento: @tipo_documento %>

<br>

<div>
  <%= link_to "Show this tipo documento", @tipo_documento %> |
  <%= link_to "Back to tipo documentos", tipo_documentos_path %>
</div>
