<p style="color: green"><%= notice %></p>

<% content_for :title, "Tipo documentos" %>

<h1>Tipo documentos</h1>

<div id="tipo_documentos">
  <% @tipo_documentos.each do |tipo_documento| %>
    <%= render tipo_documento %>
    <p>
      <%= link_to "Show this tipo documento", tipo_documento %>
    </p>
  <% end %>
</div>

<%= link_to "New tipo documento", new_tipo_documento_path %>
