<% content_for :title, "New tipo documento" %>

<h1>New tipo documento</h1>

<%= render "form", tipo_documento: @tipo_documento %>

<br>

<div>
  <%= link_to "Back to tipo documentos", tipo_documentos_path %>
</div>
