<p style="color: green"><%= notice %></p>

<%= render @tipo_documento %>

<div>
  <%= link_to "Edit this tipo documento", edit_tipo_documento_path(@tipo_documento) %> |
  <%= link_to "Back to tipo documentos", tipo_documentos_path %>

  <%= button_to "Destroy this tipo documento", @tipo_documento, method: :delete %>
</div>
