<div id="<%= dom_id laboratorio %>">
  <p>
    <strong>Nome:</strong>
    <%= laboratorio.nome %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= laboratorio.sigla %>
  </p>

  <p>
    <strong>Centro:</strong>
    <%= laboratorio.centro_id %>
  </p>

</div>
