<p style="color: green"><%= notice %></p>

<h1>Laboratorios</h1>

<%= link_to "Novo", new_laboratorio_path , class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @laboratorios.each do |laboratorio| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= laboratorio.nome %></td>
          <td class="col-sm-1 align-center" ><%= laboratorio.centro.sigla %></td>
          <td class="col-sm-1 align-middle" ><%= link_to "Editar", edit_laboratorio_path(laboratorio), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
