<%= form_with(model: projeto_professor) do |form| %>
  <% if projeto_professor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(projeto_professor.errors.count, "error") %> prohibited this projeto_professor from being saved:</h2>

      <ul>
        <% projeto_professor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :projeto_id, style: "display: block" %>
    <%= form.text_field :projeto_id %>
  </div>

  <div>
    <%= form.label :professor_id, style: "display: block" %>
    <%= form.text_field :professor_id %>
  </div>

  <div>
    <%= form.label :inicio, style: "display: block" %>
    <%= form.date_field :inicio %>
  </div>

  <div>
    <%= form.label :fim, style: "display: block" %>
    <%= form.date_field :fim %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
