<div id="<%= dom_id projeto_professor %>">
  <p>
    <strong>Projeto:</strong>
    <%= projeto_professor.projeto_id %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= projeto_professor.professor_id %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= projeto_professor.inicio %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= projeto_professor.fim %>
  </p>

</div>
