<% content_for :title, "Editing projeto professor" %>

<h1>Editing projeto professor</h1>

<%= render "form", projeto_professor: @projeto_professor %>

<br>

<div>
  <%= link_to "Show this projeto professor", @projeto_professor %> |
  <%= link_to "Back to projeto professors", projeto_professors_path %>
</div>
