<p style="color: green"><%= notice %></p>

<% content_for :title, "Projeto professors" %>

<h1>Projeto professors</h1>

<div id="projeto_professors">
  <% @projeto_professors.each do |projeto_professor| %>
    <%= render projeto_professor %>
    <p>
      <%= link_to "Show this projeto professor", projeto_professor %>
    </p>
  <% end %>
</div>

<%= link_to "New projeto professor", new_projeto_professor_path %>
