<% content_for :title, "New projeto professor" %>

<h1>New projeto professor</h1>

<%= render "form", projeto_professor: @projeto_professor %>

<br>

<div>
  <%= link_to "Back to projeto professors", projeto_professors_path %>
</div>
