<p style="color: green"><%= notice %></p>

<%= render @projeto_professor %>

<div>
  <%= link_to "Edit this projeto professor", edit_projeto_professor_path(@projeto_professor) %> |
  <%= link_to "Back to projeto professors", projeto_professors_path %>

  <%= button_to "Destroy this projeto professor", @projeto_professor, method: :delete %>
</div>
