<p style="color: green"><%= notice %></p>

<h1>Instituições</h1>

<%= link_to "Novo", new_instituicao_path, class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @instituicaos.each do |instituicao| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= instituicao.nome %></td>
          <td class="col-sm-1 align-middle" ><%= link_to "Editar", edit_instituicao_path(instituicao), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
