<%= form_with(model: centro) do |form| %>
  <% if centro.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(centro.errors.count, "Erro") %></h2>

      <ul>
        <% centro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="row">
      <div class="col-5">
        <%= form.label :nome, style: "display: block" , class: "form-label" %>
        <%= form.text_field :nome , class: "form-control col-sm-10" %>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <%= form.label :sigla, style: "display: block" , class: "form-label" %>
        <%= form.text_field :sigla , class: "form-control col-sm-10" %>
      </div>
    </div>

    <%= form.submit "Salvar", class: "btn btn-dark mt-3" %>
    <%= link_to "Voltar", centros_path, class: "btn btn-dark mt-3" %>

<% end %>
