<p style="color: green"><%= notice %></p>

<h1>Centros</h1>

<%= link_to "Novo", new_centro_path, class: "btn btn-dark mt-3" %>

<form>
  <table class="table table-striped table-bordered table-hover mt-4">
    <tbody>
      <% @centros.each do |centro| %>
        <tr class="align-middle">
          <td class="col-lg-4 align-center" ><%= centro.nome %></td>
          <td class="col-sm-1 align-middle" ><%= link_to "Editar", edit_centro_path(centro), class: "btn btn-dark btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
