<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bolsas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
      <!-- Container wrapper -->
      <div class="container">
        <!-- Toggle button -->
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "PIBIC", root_path,  class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cadastro</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Tipo Professor", tipo_professors_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Tipo Bolsa", tipo_bolsas_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Cota", cotas_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Centro", centros_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Instituição", instituicaos_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Laboratório", laboratorios_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Curso", cursos_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Professor", professors_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Aluno", alunos_path,  class: "dropdown-item" %></li>
                <li><%= link_to "Projeto", projetos_path,  class: "dropdown-item" %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Relatórios</a>
              <ul class="dropdown-menu">
                <li><%= link_to "Declaração de Bolsista", tipo_professors_path,  class: "dropdown-item" %></li>
              </ul>
            </li>

          </ul>
          <span class="navbar-text">0.2.1</span>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <!-- <div class="d-flex align-items-center"> -->
          <!-- Icon -->
          <!-- <a class="link-secondary me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a> -->

          <!-- Notifications -->
          <!-- <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="link-secondary me-3 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div> -->
          <!-- Avatar -->
          <!-- <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
